.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 10px;
}

footer {
  text-align: left;
  font-size: 14px;
}

a {
  margin: 0 auto;
}

.vecteezy {
  margin-left: 80px;
}
