.Weather {
  background-image: url("./img/cold.jpg");
  background-size: cover;
  height: 500px;
  border: 2px solid rgb(83, 79, 79);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 10px;
  padding: 20px 20px;
}

.Weather.warm {
  background-image: url("./img/warm.jpg");
}
main {
  height: 500px;
  width: 560px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  border-radius: 10px;
  margin-top: -21px;
  margin-left: -20px;
  display: block;
  padding: 20px 20px;
}

.Weather h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #ffff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
li {
  list-style: none;
  margin-left: -40px;
  line-height: 20px;
  color: rgb(244, 245, 241);
  font-size: 18px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.Weather .inputCity {
  font-weight: bold;
  width: 350px;
  border-radius: 0px 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
}

.Weather .btnprimary {
  transition: 0.4s ease-in-out;
  width: 150px;
  margin-left: -50px;
}

.Weather canvas {
  height: auto;
}

.Weather .temperature {
  color: rgba(247, 236, 95, 0.925);
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
  margin-left: 10px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.units {
  color: #ffff;
  position: relative;
  font-size: 16px;
  top: -30px;
  left: -15px;
}

.loader {
  text-align: center;
}
